<!doctype html>
<title>簡易検索</title>
<head>
    <title>簡易検索</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    <style>
        table{
            border:solid 1px;
            margin:0 0 15px 0;
        }
        #status{
            text-align:left;
            display:inline;
        }
        .link_bar{
            text-align:right;
            margin-right:30px;
            display:inline;
            float:right
        }
        .link a{
            color:white
        }
    </style>
    <script>
        // FBアプリを起動し、ログインステータスのチェック
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '189741423327513',
                xfbml      : true,
                version    : 'v12.0'
            });
            FB.AppEvents.logPageView();
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // ログインステータスをチェックし、ログインならTestAPI()、ログアウトならログ表示
        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response.status);                   // The current login status of the person.
            if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                testAPI();
            } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' + 'into this webpage.';
            }
        }

        // ログインチェックを行い、goin()起動
        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
            goin();
        }

        //
        function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.status + '!';
            });
        }

        function goin(){
            FB.api('/me', function(response){
                poster('/fbin', {'fbid':response.id, 'name':response.name});
            });
        }
        // 辞書でform を submitする
        function poster(path, params, method="post"){
            const form = document.createElement('form');
            form.method = method;
            form.action = path
            for (const key in params){
                if (params.hasOwnProperty(key)){
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value= params[key];
                    form.appendChild(hiddenField)
                }
            }
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
<body>
 
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>簡易検索</strong>
            </a>
        </div>
        <div class="top_list">

        </div>
    </div>

    <div class="links">
        <div id="status">
        </div>
        <div class="link_bar">
            <strong>
                <a href="/">トップへ</a>

            {% if not session['flag'] %}
                <a href="/login">ログインへ</a>
                <a href="/reg">登録へ</a>
            {% endif %}

            {% if session['flag'] %}
                <a href="/logout">ログアウト</a>
            {%endif%}

                <a href="/search">検索</a>

            {% if session['flag'] %}
                <a href="/lists/{{ session['id'] }}">登録中の物件メモ</a>
            {% endif %}
            </strong>
        </div>
    </div>
</header>
<br>

<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>