{% extends "base.html" %}
{% block body %}
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
     
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
  </script>
<div class="content container">
    </div> 
    <div class="check">
        {% if session['flag'] %}
            <p>ようこそ、{{ session['name'] }} さん。
                （最終操作：
                    {{session['last_action'].year}}/{% if session['last_action'].month > 9 %}{{session['last_action'].month}}{%else%}0{{session['last_action'].month}}{%endif%}/{% if session['last_action'].day > 9 %}{{session['last_action'].day}}{%else%}0{{session['last_action'].day}}{%endif%} {% if session['last_action'].hour > 9 %}{{session['last_action'].hour}}{% else %}0{{session['last_action'].hour}}{%endif%}:{% if session['last_action'].minute > 9 %}{{session['last_action'].minute}}{% else %}0{{session['last_action'].minute}}{%endif%}:{% if session['last_action'].second > 9 %}{{session['last_action'].second}}{% else %}0{{session['last_action'].second}}{%endif%}
                ）
            </p>
        {% else %}
            <p>ようこそ、ゲスト さん</p>
        {% endif %}
        <fb:login-button 
            scope="public_profile,email"
            onlogin="checkLoginState();">
        </fb:login-button>
    </div>

{% endblock %}