{% extends "base.html" %}
{% block body %}

{% for eki in ekis %}
    <table>
        <tr>
            <td>タイトル</td>
            <td>{{ eki['title'] }}</td>
        </tr>
        <tr>
            <td>住所</td>
            <td>{{ eki['address'] }}</td>
        </tr>
        <tr>
            <td>最寄り駅</td>
            <td>{{ eki['line1'] }} {{ eki['station1'] }} : {{ eki['time1'] }}分</td>
            {% if eki['line2'] %}<br>
            <td>{{ eki['line2'] }} {{ eki['station2'] }} : {{ eki['time2'] }}分</td>
            {% endif %}
            {% if eki['line3'] %}<br>
            <td>{{ eki['line3'] }} {{ eki['station3'] }} : {{ eki['time3'] }}分</td>
            {% endif %}
        </tr>
        <tr>
            <td>家賃 / 管理共益費</td>
            <td>{{ eki['rent']|int }}円 / {{ eki['fee']|int }}円</td>
        </tr>
        <tr>
            <td>敷金 / 礼金</td>
            <td>{{ eki['deposit']|int }}円 / {{ eki['key']|int }}円</td>
        </tr>
        <tr>
            <td>部屋</td>
            <td><a href="{{eki['url']}}" target="blank">詳細</a> : {{ eki['room_type'] }} {{ eki['room_size'] }}m^2</td>
        </tr>
    </table>
{% endfor %}
{% endblock %}