{% extends "base.html" %}
{% block body %}
<style>
    .table-wrapper{
        margin:15px auto;
        display: grid;
        max-width:600px;
        grid-template-columns: repeat(auto-fill, minmax(100px 1fr));
    }
    .table-wrapper table{
        padding:5px;
    }
</style>

{% if ekis|length == 0 %}
    検索に合致する物件がありません。
{% else %}
    <div class="table-wrapper">
    {% for eki in ekis %}
        <table>
            <tr>
                <td>タイトル</td>
                <td><a href="{{eki['url']}}" target="blank">{{ eki['title'] }}</a></td>
            </tr>
            <tr>
                <td>住所</td>
                <td>{{ eki['address'] }}</td>
            </tr>
            <tr>
                <td>最寄り駅</td>
                <td>
                    {{ eki['line1'] }} {{ eki['station1'] }} : {{ eki['time1']|int }}分
                {% if eki['line2'] %}<br>
                    {{ eki['line2'] }} {{ eki['station2'] }} : {{ eki['time2']|int }}分
                {% endif %}
                {% if eki['line3'] %}<br>
                    {{ eki['line3'] }} {{ eki['station3'] }} : {{ eki['time3']|int }}分
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>家賃 / 管理共益費</td>
                <td>{{ eki['rent']|int }}円 / {{ eki['fee']|int }}円</td>
            </tr>
            <tr>
                <td>敷金 / 礼金</td>
                <td>{{ eki['deposit']|int }}円 / {{ eki['key']|int }}円</td>
            </tr>
            <tr>
                <td>部屋</td>
                <td>{{ eki['room_type'] }} {{ eki['room_size'] }}㎡</td>
            </tr>
        </table>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}